<div class="row">
    {{!--<div class="col-lg-3">--}}
        {{!--Changelist--}}
    {{!--</div>--}}

    {{!--<div class="col-lg-3">--}}
        {{!--Owner--}}
    {{!--</div>--}}

    {{!--<div class="col-lg-3">--}}
        {{!--Time Started--}}
    {{!--</div>--}}

    {{!--<div class="col-lg-3">--}}
        {{!--Build--}}
    {{!--</div>--}}

    {{!--<div class="col-lg-3">--}}
        {{!--Unit test--}}
    {{!--</div>--}}

    {{!--<div class="col-lg-3">--}}
        {{!--Functional test--}}
    {{!--</div>--}}

    {{!--<div class="col-lg-3">--}}
        {{!--Status--}}
    {{!--</div>--}}
</div>

{{yield}}
