{{yield}}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Changelist
            </div>

            <div class="col-md-1">
                Owner
            </div>

            <div class="col-md-2">
                Time Started
            </div>

            <div class="col-md-2">
                Build
            </div>

            <div class="col-md-2">
                Unit test
            </div>

            <div class="col-md-2">
                Functional test
            </div>

            <div class="col-md-4">
                Status
            </div>
        </div>
    </div>
</div>
{{#if builds.length}}
    {{#bs-accordion selected=selected}}
        {{#each attrs.builds as |build index|}}
            {{builds-list-item value=index build=build}}
        {{/each}}
    {{/bs-accordion}}
{{else}}
    <h3>{{t 'builds-list.no-builds'}}</h3>
{{/if}}

