<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2">
                {{build.number}}
            </div>
        </div>
    </div>
</div>
