{{yield}}

<div class="panel header">
    <div class="panel-body">
        <div class="row">
            <div class="build-col-changelist">
                Changelist
            </div>

            <div class="build-col-owner">
                Owner
            </div>

            <div class="build-col-time">
                Time Started
            </div>

            <div class="build-col-build">
                Build
            </div>

            <div class="build-col-unit">
                Unit test
            </div>

            <div class="build-col-func">
                Functional test
            </div>

            <div class="build-col-status">
                Status
            </div>
        </div>
    </div>
</div>
{{#if builds.length}}
    {{#bs-accordion selected=selected}}
        {{#each attrs.builds as |build index|}}
            {{builds-list-item value=index build=build}}
        {{/each}}
    {{/bs-accordion}}
{{else}}
    <h3>{{t 'builds-list.no-builds'}}</h3>
{{/if}}

