<div class="row">
    <div class="col-md-1">
        Changelist
    </div>

    <div class="col-md-1">
        Owner
    </div>

    <div class="col-md-2">
        Unit tests
    </div>

    <div class="col-md-2">
        Functional tests
    </div>

    <div class="col-md-2">
        Building
    </div>

    <div class="col-md-4">
        Status
    </div>
</div>

{{yield}}
