<div class="row">
    <div class="col-md-12">
        {{#each model as |build|}}
            {{builds-list-item build=build}}
        {{else}}
            <h3>{{t 'project.builds.empty-builds-list'}}</h3>
        {{/each}}
    </div>
</div>

{{outlet}}
