@import "../grid";

.builds-list {
	$container-border-color: #e3e3e6;
	$item-border-color: #e3e3e6;
	$border-left-default-color: #d2d2d2;

	$layout-columns: (
			changelist: 6,
			owner: 3,
			time: 9,
			build: 7,
			unit: 7,
			func: 7,
			status: 7
	);

	border: $container-border-color 2px solid;

	.panel {
		@include panel-variant($item-border-color, #000000, #ffffff, $item-border-color);
		border-radius: 0;
		margin-bottom: 0;
		border: none;
		border-bottom: $item-border-color 1px solid;
		border-left: $border-left-default-color 8px solid;
	}

	.panel-group .panel + .panel {
		margin-top: 0;
	}

	.header {
		text-align: left;
		font-weight: bold;
		height: 48px;

		// pixel perfect
		.build-col-changelist {
			padding-left: 8px;
		}

		.build-col-owner {
			padding-left: 12px;
		}

		.build-col-build {
			padding-left: 12px;
		}

		.build-col-unit {
			padding-left: 29px;
		}

		.build-col-func {
			padding-left: 10px;
		}

		.build-col-status {
			padding-left: 11px;
		}
	}

	.build-col-changelist {
		@include make-lg-column(map-get($layout-columns, changelist));
	}

	.build-col-owner {
		@include make-lg-column(map-get($layout-columns, owner));
	}

	.build-col-time {
		@include make-lg-column(map_get($layout-columns, time));
	}

	.build-col-build {
		@include make-lg-column(map_get($layout-columns, build));
	}

	.build-col-unit {
		@include make-lg-column(map_get($layout-columns, unit));
	}

	.build-col-func {
		@include make-lg-column(map_get($layout-columns, func));
	}

	.build-col-status {
		@include make-lg-column(map_get($layout-columns, status));
	}

	.build-col-progress {
		@include make-lg-column(map_get($layout-columns, build)
				+ map_get($layout-columns, unit)
				+ map_get($layout-columns, func)
		);
	}

	@mixin spacer($columns) {
		@include make-lg-column($columns);
		min-height: 20px;
		padding: 0;
	}

	.build-col-little-spacer {
		@include spacer(1);
	}

	.build-col-spacer {
		@include spacer(2);
	}

	.build-col-big-spacer {
		@include spacer(3);
	}
}

// TODO: move to the builds route styles
.builds-container {
	@include make-lg-column($grid-columns);
	padding-left: 14px;
}