.progress-with-steps {
	$progress-bar-bgcolor: #e4e4e7;

	.progress-with-steps_progress {
		height: 10px;
		overflow: visible;
		margin-top: 20px;
		box-shadow: none;
		background-color: $progress-bar-bgcolor;
	}

	.progress-with-steps_step {
		height: 37px;
		width: 37px;
		border-radius: 50%;
		background-color: $progress-bar-bgcolor;
		position: absolute;
		left: -18px;
		top: 5px;
		z-index: 1;
	}

	.progress-with-steps_progress-bar {
		position: relative;
		z-index: 10;
		height: 50%;
		margin-top: 2px;
	}
}