<div class="container ci-container">
    <div class="row">
        <div class="col-md-14">
            <div class="page-header">
                <h5>{{t 'application.header'}}</h5>
            </div>
        </div>
    </div>

    {{outlet}}
</div>
